@model LiveCore.Models.EmailConfig

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmailConfig</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailDefaultTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailDefaultTo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmailConfigID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
