@model LiveCore.Models.Usuario

@{
    ViewBag.Title = "Editar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Usuário - @Html.DisplayFor(model => model.Login)?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UsuarioID)

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Senha, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Senha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmSenha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ConfirmSenha, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmSenha)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "Usuario")" title="Voltar"><i class="fa fa-arrow-left"></i></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
