@model LiveCore.Models.PropostaImpressa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="~/Proposta/Index">Proposta</a></li>
    <li><a href="~/Proposta/Details/@Model.PropostaID">Proposta @ViewBag.IdentProposta</a></li>
    <li class="active">Visualizar Proposta</li>
</ol>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Create", "Proposta")"><i class="fa fa-plus"></i> Nova Proposta</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Edit", "PropostaImpressa", new { id = Model.PropostaImpressaID }) "><i class="fa fa-pencil"></i> Editar</a></li>
            <li><a href="@Url.Action("Relatorio", "Proposta", new { id = Model.PropostaID }, null)" target="_blank"><i class="fa fa-file-pdf-o"></i> Imprimir Proposta</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div id="alerta" class="alert">@ViewBag.Erro@ViewBag.Msg@ViewBag.Aviso</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Proposta @ViewBag.IdentProposta</h4></div>
    <div class="panel-body">
        <div class="form-horizontal">
            <b> Condições Geral de Venda</b><hr />
            
            @if (Model.Cond_ValoresSN) { 
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Valores, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Valores, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_ImpostosSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Impostos, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Impostos, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_FreteSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Frete, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Frete, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_FaturamentoSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Faturamento, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Faturamento, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_ValidadeSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Validade, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Validade, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_PrazoEntregaSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_PrazoEntrega, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_PrazoEntrega, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_DespesasSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Despesas, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Despesas, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_GarantiaSN)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_Garantia, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Cond_Garantia, new { @class = "form-control" })
                    </div>
                </div>
            }
            @if (Model.Cond_CampoLivreSN)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Cond_CampoLivre, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.Cond_CampoLivre)
                    </div>
                </div>
            }

            <b> Demais Campos</b><hr />
            @if (Model.IntroducaoSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Introducao, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.Introducao)
                    </div>
                </div>
            }
            @if (Model.AcordoConfiabSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.AcordoConfiab, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.AcordoConfiab)
                    </div>
                </div>
            }
            @if (Model.ObjetivosSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Objetivos, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.Objetivos)
                    </div>
                </div>
            }
            @if (Model.ConfigSolucaoSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfigSolucao, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.ConfigSolucao)
                    </div>
                </div>
            }
            @if (Model.EscopoProjetoSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.EscopoProjeto, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.EscopoProjeto)
                    </div>
                </div>
            }
            @if (Model.MetodologiaSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Metodologia, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.Metodologia)
                    </div>
                </div>
            }
            @if (Model.InvestimentosSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.Investimentos, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.Investimentos)
                    </div>
                </div>
            }
            @if (Model.TermoAceiteSN) {
                <div class="form-group">
                    @Html.LabelFor(model => model.TermoAceite, new { @class = "control-label col-md-2" })
                    <div class="col-xs-9">
                        @Html.Raw(Model.TermoAceite)
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {



            if ($('#alerta').html() == '') {
                $("#alerta").hide();
            }
            else if ('@ViewBag.Aviso'.length > 0) {
                $("#alerta").addClass("alert-warning");
                $("#alerta").html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Aviso!</strong> @ViewBag.Aviso');
                $("#alerta").show();
            }
            else if ('@ViewBag.Erro'.length > 0) {
                $("#alerta").addClass("alert-danger");
                $("#alerta").html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Erro!</strong> @ViewBag.Erro');
                $("#alerta").show();
            }
            else if ('@ViewBag.Msg'.length > 0) {
                $("#alerta").addClass("alert-success");
                $("#alerta").html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Sucesso!</strong> @ViewBag.Msg');
                $("#alerta").show();
            }
        });

    </script>
}