@using PagedList.Mvc;
@model PagedList.IPagedList<LiveCore.Models.Contato>

@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Contato</li>
</ol>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Create", "Contato")"><i class="fa fa-plus"></i> Novo Contato</a>
    </div>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            @Html.TextBox("nomeSearch", ViewBag.CurrentFilterNome as string, new { placeholder = "Contato" })
        </div>
        <div class="form-group">
            @Html.TextBox("loginSearch", ViewBag.CurrentFilterLogin as string, new { placeholder = "Login" })
        </div>

            <div class="form-group">
                @Html.TextBox("dtRegistroInicioSearch", ViewBag.CurrentFilterDtRegistroInicio as string, new { placeholder = "Data de Registro Inicial" })
            </div>
            <div class="form-group">
                @Html.TextBox("dtRegistroFinalSearch", ViewBag.CurrentFilterDtRegistroFinal as string, new { placeholder = "Data de Registro Final" })
            </div>
        
            <button type="submit" class="btn btn-primary navbar-btn"><i class="fa fa-search"></i> Buscar</button>
    </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            
        </ul>

        <ul class="nav navbar-nav navbar-right">
            
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div id="alerta" class="alert"></div>

<div class="panel panel-default">
    
    <table class="table">
        <tr class="panel-heading cabecalho">
            <th id="Contato" class="thselect">
                @Html.ActionLink("Contato", "Index", new { ordem = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilterNome, currentFilterLogin = ViewBag.CurrentFilterLogin, currentFilterDtRegistroInicio = ViewBag.CurrentFilterDtRegistroInicio, currentFilterDtRegistroFinal = ViewBag.CurrentFilterDtRegistroFinal })
            </th>
            <th id="Login" class="thselect">
                @Html.ActionLink("Login", "Index", new { ordem = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilterNome, currentFilterLogin = ViewBag.CurrentFilterLogin, currentFilterDtRegistroInicio = ViewBag.CurrentFilterDtRegistroInicio, currentFilterDtRegistroFinal = ViewBag.CurrentFilterDtRegistroFinal })
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th id="Data de Registro" class="thselect">
                @Html.ActionLink("Data de Registro", "Index", new { ordem = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilterNome, currentFilterLogin = ViewBag.CurrentFilterLogin, currentFilterDtRegistroInicio = ViewBag.CurrentFilterDtRegistroInicio, currentFilterDtRegistroFinal = ViewBag.CurrentFilterDtRegistroFinal })
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="trselect">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtRegistro)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.ContatoID)
                </td>

            </tr>
        }

    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, ordem = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilterNome, currentFilterLogin = ViewBag.CurrentFilterLogin, currentFilterDtRegistroInicio = ViewBag.CurrentFilterDtRegistroInicio, currentFilterDtRegistroFinal = ViewBag.CurrentFilterDtRegistroFinal }))

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $(document).tooltip();
            $("#alerta").hide();
            $(".pagination").addClass("pagination-sm");
            $("#dtRegistroInicioSearch").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#dtRegistroInicioSearch").mask('00/00/0000');
            $("#dtRegistroFinalSearch").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#dtRegistroFinalSearch").mask('00/00/0000');

            $(".trselect").click(function () {
                var id = $(this).find("#item_ContatoID").val();
                window.location.href = "/Contato/Details/" + id;
            });

        });

    </script>
}
