@using PagedList.Mvc;
@model PagedList.IPagedList<LiveCore.Models.Permissao>

@{
    ViewBag.Title = "Permissão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Permissão</li>
</ol>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="create" href="@Url.Action("Create", "Permissao")"><i class="fa fa-plus"></i>Nova Permissão</a>
    </div>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            @Html.TextBox("nomeSearch", ViewBag.CurrentFilter as string, new { placeholder = "Permissão" })
        </div>
        <button type="submit" class="btn btn-primary navbar-btn"><i class="fa fa-search"></i> Buscar</button>
    </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"></ul>

        <ul class="nav navbar-nav navbar-right"></ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div id="alerta" class="alert"></div>

<div class="panel panel-default">
    <table class="table">
        <tr class="panel-heading cabecalho">
            <th>
                @Html.ActionLink("Nome", "Index", new { ordem = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="trselect">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.PermissaoID)
                </td>
            </tr>
        }

    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, ordem = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $(document).tooltip();
            $("#alerta").hide();
            $(".pagination").addClass("pagination-sm")

            $(".trselect").click(function () {
                var id = $(this).find("#item_PermissaoID").val();
                window.location.href = "/Permissao/Details/" + id;
            });
        });

    </script>
}